  <!-- Site footer -->
  <footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h6>About</h6>
          <li><a href="">Contact Us</a></li>
          <li><a href="">Emergency</a></li>
          <li><a href="">GOK Directory</a></li>
          <li><a href="">GOK Structure</a></li>
          <li><a href="">Downloads</a></li>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Categories</h6>
          <ul class="footer-links">
            <li><a href="">The Presidency</a></li>
            <li><a href="">Ministry of Public Service youth and Gender Affairs</a></li>
            <li><a href="">Huduma Kenya Secretariat</a></li>
          </ul>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Quick Links</h6>
          <ul class="footer-links">
            <li><a href="">15th Floor, Lonrho</a></li>
            <li><a href="">House, Standard Street, Nairobi</a></li>
            <li><a href="">P.O. BOX 47716-00100, Nairobi</a></li>
            <li><a href="">Facebook: @huduma_kenay</a></li>
            <li><a href="">Twitter: @Huduma Kenya</a></li>
          </ul>
        </div>
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <h3 class="copyright-text">Copyright &copy; 2018 Huduma Kenya. All Rights Reserved by 
          </h3>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
            <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
            <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>   
          </ul>
        </div>
      </div>
    </div>
</footer>