<div class="container">
<div class="content">
    
    <div class="row">
        <div class="col">
    <div fxFlex="25%"  *ngFor="let num of [1]">

        <mat-card id="card" style="height: 24rem;" class="mat-elevation-z4">
            <mat-card-header>
                <mat-card-title style="font-family: 'Roboto Condensed', sans-serif;">Government Services</mat-card-title>
            </mat-card-header>
                <mat-card-content>
                    <p style="font-style: italic;">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                         Doloribus sed deserunt iste cum autem quibusdam, 
                         officia maiores ad libero adipisci suscipit ipsum ut fuga maxime,
                         repellendus aspernatur laboriosam expedita dolorem?</p>
                </mat-card-content>
                <mat-card-actions>
                    <a href="https://www.hudumakenya.go.ke/gok-directory">
                        <button mat-button style="background-color:rgb(226, 226, 233);">ReadMore>>></button>
                    </a>
                   
        
                </mat-card-actions>
        
        

        
        
        </mat-card>
        </div>
       


    </div>    


   
        <div class="col">
        <div fxFlex="25%"  *ngFor="let num of [1]">
    
            <mat-card id="card" style="height: 24rem;" class="mat-elevation-z4">
                <mat-card-header>
                    <mat-card-title style="font-family: 'Roboto Condensed', sans-serif;">Huduma Kenya</mat-card-title>
                </mat-card-header>
                    <mat-card-content>
                        <p style="font-style: italic;">Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                             Doloribus sed deserunt iste cum autem quibusdam, 
                             officia maiores ad libero adipisci suscipit ipsum ut fuga maxime,
                             repellendus aspernatur laboriosam expedita dolorem?</p>
                    </mat-card-content>
                    <mat-card-actions>
                        <a href="https://www.hudumakenya.go.ke/huduma-kenya">
                            <button mat-button style="background-color:rgb(227, 227, 230);">ReadMore>>></button>
                        </a>
                        
            
                    </mat-card-actions>
            
            
    
            
            
            </mat-card>
            </div>
        
    
    
        </div>    
        
            <div class="col" >
            <div fxFlex="25%"  *ngFor="let num of [1]">
        
                <mat-card id="card" style="height: 24rem;" class="mat-elevation-z4">
                    <mat-card-header>
                        <mat-card-title style="font-family: 'Roboto Condensed', sans-serif;">Kenya</mat-card-title>
                    </mat-card-header>
                        <mat-card-content>
                            <p style="font-style: italic;">Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                                 Doloribus sed deserunt iste cum autem quibusdam, 
                                 officia maiores ad libero adipisci suscipit ipsum ut fuga maxime,
                                 repellendus aspernatur laboriosam expedita dolorem?</p>
                        </mat-card-content>
                        <mat-card-actions>

                            <a href="https://www.hudumakenya.go.ke/kenya">
                                <button mat-button style="background-color: rgb(231, 231, 235);">ReadMore>>></button>
                            </a>
                            
                
                        </mat-card-actions>
                
                
        
                
                
                </mat-card>
                </div>
                
        
        
            </div>    
            
    </div>




    </div>
</div>




