<body>
  <div class="container">
    <h2 class="text-center">Features Data</h2>
    <hr>
    <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
      <div class="col" *ngFor= "let m of myFeatures ">

        <div class="card border-success mb-3" style="max-width: 18rem; " >
          
            <div class="card-header bg-transparent border-success">
              <p class="text-center">Name {{m.YEAR}} </p>
            </div>
            <div class="card-body text-success">
              <h5 class="card-title text-center">Total Number ~ ~</h5>
              <p class="card-text text-center">Year ~ ~</p>
            </div>
            <div class="card-footer bg-transparent border-success"><p class="text-center">Objects ~ ~</p></div>
          </div>
      </div>
    </div>
  </div>
</body>