<nav class="navbar navbar-light bg-info">
  <div class="container-fluid">
    <h1>HOME</h1>
    <div class="d-flex">
      <button class="btn btn-success" routerLink="/login">Login</button>
    </div>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="text-center">
          <h1><u>Sign Up</u></h1>
          <h6>Please Enter Your Details To Register !</h6>
        </div>
        <form [formGroup]="signupForm" (ngSubmit)="signUp()">
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Full Name</label>
            <input formControlName="fullname" type="text" class="form-control" placeholder="fullname" id="exampleInputPassword1"> <br>
            <span class="text-danger" *ngIf="signupForm.controls['fullname'].dirty && signupForm.hasError('required','fullname')">*Your Full Name Is Required!</span>
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Phone Number</label>
            <input formControlName="phone" type="number" class="form-control" placeholder="phone number" id="exampleInputPassword1"> <br>
            <span class="text-danger" *ngIf="signupForm.controls['phone'].dirty && signupForm.hasError('required','phone')">*Your Phone Number Is Required!</span>
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input formControlName="email" type="email" class="form-control" placeholder="email" id="exampleInputEmail1" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">*We'll never share your email with anyone else.</div> <br>
            <span class="text-danger" *ngIf="signupForm.controls['email'].dirty && signupForm.hasError('required','email')">*Email Id Is Required!</span>
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input formControlName="password" type="password" class="form-control" placeholder="password" id="exampleInputPassword1"> <br>
            <span class="text-danger" *ngIf="signupForm.controls['password'].dirty && signupForm.hasError('required','password')">*Password Is Required!</span>
          </div>
          <div class="mb-3 form-check">
            <input formControlName="remember" type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Remember me.</label>
          </div>
          <button type="submit" [disabled]="!signupForm.valid" class="btn btn-primary">Sign Up</button>
        </form>
        <div class="text-end" id="redirect">
          <h6>Already Have an Account? <a routerLink="/login">Click to login.</a></h6>
        </div>
      </div>
    </div>
  </div>
</div>

<footer class="navbar navbar-light bg-info">
  <div class="container">
    <div class="justify-content-center">
      <h4>2021 &copy; <span>Government Of Kenya</span>: All Rights Reserved!</h4>
    </div>
  </div>
</footer>
