<div class="container">
  <div class="row row-cols-2 row-cols-lg-3 g-2 g-lg-3">
    <div class="col">
      <div class="p-5 border bg-light">
        <img src="assets/images/house-emoji.png" alt="House emoji" style="width: 60%"><br>
          <a href="">Housing & Lands</a>
      </div>
    </div>
    <div class="col">
      <div class="p-5 border bg-light">
          <img src="assets/images/licence.png" alt="licence" style="width: 50%;"><br>
          <a href="">Permits & Licences </a>
      </div>
    </div>
    <div class="col">
      <div class="p-5 border bg-light">
          <img src="assets/images/ledger.png" alt="ledger" style="width: 50%;"><br>
          <a href="">Paying Taxes</a>
      </div>
    </div>
    <div class="col">
      <div class="p-5 border bg-light">
          <img src="assets/images/checked-identification-documents.png" alt="Identification Card" style="width: 50%;"><br>
          <a href="">Identification Card</a>
      </div>
    </div>
    <div class="col">
      <div class="p-5 border bg-light">
          <img src="" alt="" style="width: 80%;"><br>
          <a href="">Marriage</a>
      </div>
    </div>
    <div class="col">
      <div class="p-5 border bg-light" >
          <img src="" alt="" style="width: 80%;"><br>
          <a href="">Birth Certificate</a>
    </div>
    
    
   
  </div>
</div>