<div class="container">
  <div class="row row-cols-2 row-cols-lg-3 g-2 g-lg-3">
    <div class="col">
      <div class="p-5 border bg-light" id="div1">
        <img src="assets/images/house-emoji.png" alt="House emoji" style="width: 55%"><br>
          <a href="https://www.hudumakenya.go.ke/government-services/life-event/land-and-housing">Housing & Lands</a>
      </div>
    </div>
    <div class="col">
      <div class="p-5 border bg-light" id="div2"> 
          <img src="assets/images/licence.png" alt="licence" style="width: 55%;"><br>
          <a href="https://www.hudumakenya.go.ke/government-services/life-event/licenses-and-permit">Permits & Licences </a>
      </div>
    </div>
    <div class="col">
      <div class="p-5 border bg-light" id="div3">
          <img class="img-1" src="assets/images/ledger.png" alt="ledger" style="width: 55%;"><br>
          <a href="https://www.hudumakenya.go.ke/government-services/life-event/paying-taxes">Paying Taxes</a>
      </div>
    </div>
    <div class="col">
      <div class="p-5 border bg-light" id="div4">
          <img src="assets/images/checked-identification-documents.png" alt="Identification Card" style="width: 55%;"><br>
          <a href="">Identification Card</a>
      </div>
    </div>
    <div class="col">
      <div class="p-5 border bg-light" id="div5">
          <img src="assets/images/one-ring.png" alt="one-ring" style="width: 55%;"><br>
          <a href="https://www.hudumakenya.go.ke/government-services/life-event/marriage">Marriage</a>
      </div>
    </div>
    <div class="col">
      <div class="p-5 border bg-light" id="div6" >
          <img src="assets/images/giving-birth.png" alt="giving-birth" style="width: 55%;"><br>
          <a href="https://www.hudumakenya.go.ke/government-services/life-event/birth">Birth Certificate</a>
    </div>
    
    
   
  </div>
</div>