<div class="container">
  <div class="row row-cols-2 row-cols-lg-3 g-2 g-lg-3">
    <div class="col">
      <div class="p-5 border bg-light">
          <a href="">Housing & Lands</a>
      </div>
    </div>
    <div class="col">
      <div class="p-5 border bg-light">
          <a href="">Permits & Licences </a>
      </div>
    </div>
    <div class="col">
      <div class="p-5 border bg-light">
          <a href="">Paying Taxes</a>
      </div>
    </div>
    <div class="col">
      <div class="p-5 border bg-light">
          <a href="">Identification Card</a>
      </div>
    </div>
    <div class="col">
      <div class="p-5 border bg-light">
          <a href="">Marriage</a>
      </div>
    </div>
    <div class="col">
      <div class="p-5 border bg-light">
          <a href="">Birth Certificate</a>
    </div>
    
    
   
  </div>
</div>