<nav class="navbar navbar-light bg-info">
  <div class="container-fluid">
    <h1>HOME</h1>
    <div class="d-flex">
      <button class="btn btn-success">Sign Up</button>
    </div>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="text-center">
          <h1><u>Login</u></h1>
          <h6>Please Enter Your Email & Password !</h6>
        </div>
        <form>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1">
          </div>
          <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Remember me.</label>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>

<footer class="navbar navbar-light bg-info">
  <div class="container">
    <div class="justify-content-center">
      <h4>2021 &copy; Government Of Kenya: All Rights Reserved!</h4>
    </div>
  </div>
</footer>
